[Unit]
Description=uwsgi emperor for food backend
After=network.target
[Service]
User=ec2-user
Restart=always
ExecStart=/home/ec2-user/food-backend/venv/bin/uwsgi --emperor /home/ec2-user/uwsgi/vassals --uid www-data --gid www-data
[Install]
WantedBy=multi-user.target

