wheel
asgiref
autopep8
backcall
certifi
cffi
charset-normalizer
coreapi
coreschema
cryptography
decorator
defusedxml
dj-rest-auth
Django
django-allauth
django-cors-headers
django-debug-panel
django-debug-toolbar
django-ipware
django-rest-auth
django-rest-swagger
django-silk
djangorestframework
drf-yasg
envparse
et-xmlfile
gprof2dot
idna
inflection
ipython
itypes
jedi
Jinja2
jsonfield
MarkupSafe
numpy
oauthlib
openapi-codec
openpyxl
packaging
pandas
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
pycodestyle
pycparser
Pygments
PyJWT
pyparsing
python-dateutil
python-dotenv
python3-openid
pytz
PyYAML
requests
requests-oauthlib
ruamel.yaml
ruamel.yaml.clib
simplejson
six
sqlparse
toml
traitlets
uritemplate
urllib3
wcwidth
Pillow
